.AddAdv {
    background: #edf7fa;
}

.Info {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.Info h4 {
    margin-top: 1%;
    margin-left: 1%;
    font-size: larger;
}

.Info text{
    margin-top: 1%;
    margin-left: 1%;
}

.Info input {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 70%;
}

.Info select {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 85%;
    margin-bottom: 0.5%;
}

.Photos {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.Photos h4 {
    margin-top: 1%;
    margin-left: 1%;
    font-size: larger;
}

.Photos text {
    margin-top: 1%;
    margin-left: 1%;
}

.Photos input {
    margin-top: 1%;
    margin-left: 1%;
}

.Description {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.Description text {
    margin-top: 1%;
    margin-left: 1%;
}

.Description textarea {
    margin: 1%;
    height: 200px;
    border-radius: 0%;
}

.Localization {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.Localization text {
    margin-top: 1%;
    margin-left: 1%;
}

.Localization input {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.Contact {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.Contact text {
    margin-top: 1%;
    margin-left: 1%;
}

.Contact input {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 80%;
}

.Contact h4 {
    margin-top: 1%;
    margin-left: 1%;
    font-size: larger;
}

.Add {
    margin-left: 75%;
}

.Title {
    margin-left: 10%;
}

.AddButton {
    background-color: #002f34;
    color: white;
    border: none;
    height: 40px;
    width: 250px;
    font-size: large;
}