* {
    margin: 0;
}

.ads-w-container {
    background-color: rgb(242, 244, 245);
    padding-top: 48px;
    padding-bottom: 48px;
    min-height: 80vh;
}

.ads-w-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ads-w-photo {
    background-color: white;
    text-align: center;
    height: 600px;
    width: 800px;
    position: relative;
}

.ads-w-img {
    padding-top: 25px;
    height: 550px;
    width: 750px;
}

.ads-w-title {
    margin-left: 30px;
    height: 600px;
    width: 300px;
    background-color: white;
    position: relative;
}

.ads-w-name {
    padding-left: 25px;
    padding-top: 25px;
    font-size: 25px;
    font-family: Geomanist, Arial, sans-serif;
}

.ads-w-small {
    padding-left: 25px;
    font-size: 15px;
    font-family: Geomanist, Arial, sans-serif;
    font-weight: lighter;
}

.ads-w-small-2 {
    padding-left: 25px;
    font-size: 13px;
    font-family: Geomanist, Arial, sans-serif;
    font-weight: lighter;
}

.ads-w-s-title {
    padding-left: 25px;
    padding-top: 40px;
    font-size: 20px;
    font-family: Montserat;
    font-weight: bolder;
}

.ads-w-container-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ads-w-description {
    margin-top: 30px;
    background-color: white;
    text-align: center;
    width: 1130px;
    height: 300px;
    position: relative;
}

.ads-w-desc-h3 {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 25px;
    text-align: left;
    font-weight: lighter;
}

.ads-w-desc-title {
    font-size: 40px;
    padding-top: 10px;
    padding-left: 25px;
    text-align: left;
}

.ads-w-desc-o {
    font-size: 30px;
    padding-top: 50px;
    padding-left: 25px;
    text-align: left;
    font-weight: bold;
}

.ads-w-desc-text {
    font-weight: lighter;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
}
