* {
    margin: 0;
}

.footer-container {
    min-width: 1600px;
    diplay: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-part-1 {
    background-color: #002f34;
    height: 50px;
}

.footer-part-2 {
    background-color: #cbf7ee;
    color: #002f34;
    text-align: center;
}

.footer-part-2-image {;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.footer-part-2-description {
    margin: auto;
    width: 50%;
    color: #002f34;
    text-align: center;
    line-height: 24px !important;
    font-size: 14px !important;
}

.footer-part-2-social-links {
    margin: auto;
}

.footer-part-2-social-links p {
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.71;
    color: #002f34;
}

.footer-part-2-social-links ul {
    font-size: 0;
    margin-left: -20px;
}

.footer-part-2-social-links ul li {
    margin-right: 12px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: center;
}

.footer-part-2-social-links ul li [class*="icon-"] {
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: center;
    background: no-repeat 50% 50%;
}

.footer-part-2-social-links ul li .icon-facebook {
    background-image: url('../img/icon-facebook.svg');
}

.footer-part-2-social-links ul li .icon-instagram {
    background-image: url('../img/icon-instagram.svg');
}

.footer-part-2-social-links ul li .icon-youtube {
    background-image: url('../img/icon-youtube.svg');
}

.footer-part-2-social-links ul li .icon-linkedin {
    background-image: url('../img/icon-linkedin.svg');
}

.footer-part-2-social-links ul li .icon-pinterest {
    background-image: url('../img/icon-pinterest.svg');
}

.footer-part-3 {
    background-color: #002f34;
    color: white;
    font-family: "Candara";
    text-align: center;
    height: 50px;
    line-height: 50px;
}
