.Login{
    margin-top: 10%;
}

.LoginForm {
    display: flex;
    padding: 30px;
    flex-direction: column;
    width: 15%;
    background-color: #002f34;
    color: white;
    align-items: center;
    border-radius: 10%;
    margin: auto;
}

label {
    margin-top: 10px;
    margin-bottom: 2px;
}

input {
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.LoginMain {
    font-family: "Lucida Console";
    font-size: 30px;
}

.a{
    outline: none;
    color: white;
}

a, a:visited {
    text-decoration: none;
    color: white;
}
