.Login{
    margin-top: 10%;
}

.LoginForm {
    display: flex;
    padding: 30px;
    flex-direction: column;
    width: 15%;
    background-color: #002f34;
    color: white;
    align-items: center;
    border-radius: 10%;
    margin: auto;
}

label {
    margin-top: 10px;
    margin-bottom: 2px;
}

input {
    margin-bottom: 5px;
}

.log-button {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #002f34;
    font-weight: bold;
}

.LoginMain {
    font-family: "Lucida Console";
    font-size: 30px;
}

.LoginForm a, .LoginForm a:visited {
    outline: none;
    text-decoration: none;
    color: yellowgreen;
}
