.Registration {
    margin-top: 10%;
}

.RegistrationForm {
    display: flex;
    padding: 30px;
    flex-direction: column;
    width: 15%;
    background-color: #002f34;
    color: white;
    align-items: center;
    border-radius: 10%;
    margin: auto;
}

label {
    margin-top: 10px;
    margin-bottom: 2px;
}

input {
    margin-bottom: 5px;
}

.reg-button {
    margin-top: 30px;
    color: #002f34;
    font-weight: bold;
}

.RegistrationMain {
    font-family: "Lucida Console";
    font-size: 30px;
}
